{#- overrides/partials/footer.html -#}
<div class="takwara-impact-panel takwara-footer-panel">
    <div class="takwara-panel-content">
    
        <div class="footer-section-simple">
            <p>
                Email: <a href="mailto:fabiotakwara@gmail.com" target="_blank">fabiotakwara@gmail.com</a>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                Conteúdo sob <a href="https://creativecommons.org/licenses/by/4.0/deed.pt" target="_blank">Licença CC BY 4.0</a>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <p>Leia mais sobre <a href="/license/">nos termos de licença</a>.</p>
            </p>
        </div>

    </div>
</div>

<template id="takwara-tools-template">
    {% include "partials/widget-tools.html" %}
</template>